.jumbotron{
    background-color:lightskyblue;
    color: black;
    margin-top: 50px;
}

.card-servicios{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-galeria{
    width: 100%;
}

footer{
    padding:10px 10px 0 10px;
    background-color: lightskyblue;
    margin-bottom: 0px;
    margin-top: 10px;
}